body > div.container {
    background-image: url('../assets/grass.jpg');
    background-size: cover;
}

header, main {
    text-align: center;
}

header > img {
    max-height: 25vh;
}

header > h1 { 
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: #FFF;
    text-shadow: 5px 5px 5px #000;
}

form {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

input {
    margin: 1vh auto;
    display: block;
    font-size: 3vh;
    line-height: 5vh;
}

#full-name {
    width: 100%;
    padding: 0.2em 0.5em;
}

input[type="submit"] {
    padding: 0.2em 1.2em;
    font-size: 1.8em;
    line-height: 2em;
}

