div.container {
    background-color: #ADC5DA;
    padding-bottom: 50px;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    color: #043354;
}
main > div {
    position: relative;
}

main ul {
    position: relative;
    height: 50vh;
    margin-bottom: 50px;
    overflow: auto;
}

main li {
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1.8em;
}

main input[type="radio"] {
    height: 1.5em;
    width: 1.5em;
    margin-right: 2vw;
}

main button {
    padding: 0.5em 1.2em;
    font-size: 1.2em;
    line-height: 1.7em;
}

li:has(>input[type="radio"]:checked) {
    background-color: #8BB2CF;
}

div.loading {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    margin: 0 auto;
    border: 1em solid #8BB2CF; /* Light grey */
    border-top: 1em solid #1E6CAF; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

